.header {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 43px 69px 44px 45px;
  border-bottom: 1px solid #eaeaea;
  border-radius: 20px 20px 0 0;

  &__left {
    display: flex;
    &-text {
      margin-left: 16px;
      color: #000000;
    }
    &-title {
      font-weight: 700;
      font-size: 20px;
      line-height: 24px;
      text-transform: uppercase;

      color: #000000;
    }
    &-subtitle {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #9d9d9d;
    }
  }
  &__right {
    margin-left: 10px;
    display: flex;
    align-items: center;
    list-style-type: none;
    column-gap: 30px;
    &-li {
      display: flex;
      align-items: center;
    }
    &-count {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      margin-left: 10px;
      color: #5c5c5c;
    }
    img {
      cursor: pointer;
    }
  }
  &-link {
    color: #a3a3a0;
    font-weight: 600;
    font-size: 14px;
  }
}
.active {
  color: rgb(67, 66, 66);
  text-decoration: underline;
}

@media (max-width: 650px) {
  .header__right {
    flex-direction: column;
    align-items: start;
  }
}
@media (max-width: 340px) {
  .header{
    padding-left: 10px;
  }
}